<div class="apple_pagination">
  <%= will_paginate @users, :container => false%>
</div>
<h3 class="text-center mt-2">Cody's Bloggers</h1>
<%= render 'user' %>
<div class="apple_pagination mt-3">
  <%= will_paginate @users, :container => false%>
</div>
